
#title, #plot-title {
  text-align: center;
}

#add-country, #plot-btn {
  display: block;
}

/* For phones, use a smaller plot. */
#plot-container {
  width: 95%;
  height: 450px;
}


/* For tablets and larger, use a bigger area for the plot. */
@media (min-width: 760px) {
  #plot-container {
    width:  90%;
    height: 700px;
  }
}
