
#title, #plot-title {
  text-align: center;
}

#country-list > p {
  margin-bottom: 3px;
}

.country-alert {
  margin-left: 10px;
  color: red;
  display: none;
}

#add-country, #plot-btn {
  display: block;
}

#add-country {
  margin: 5px 0;
}

#options-list p span {
  margin-left: 5px;
  vertical-align: text-bottom;
}

/* For tablets and larger, use a taller plot, but leave more margins on the sides. */
#plot-container {
  width:  90%;
  height: 700px;
  margin-bottom: 50px;
}

/* For phones, use a shorter plot, but take up more of the horizontal space. */
@media (max-width: 760px) {
  #plot-title {
    font-size: 175%;
  }
  #plot-container {
    width: 100%;
    height: 450px;
  }
}
