
#title, #plot-title {
  text-align: center;
}

#add-country, #plot-btn {
  display: block;
}

/* For phones, use a shorter plot, but take up more of the horizontal space. */
#plot-container {
  width: 100%;
  height: 450px;
}

/* For tablets and larger, use a taller plot, but leave more margins on the sides. */
@media (min-width: 760px) {
  #plot-container {
    width:  90%;
    height: 700px;
  }
}
