{% extends 'bootstrap.tmpl' %}
{% load static %}

{% block title %}Plot latest COVID-19 data{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'editpages/css/covid.css' %}?via=html">
{% endblock %}

{% block content %}
    <div id="main" class="container-fluid">

      <div>
        <h1 id="title">COVID-19 Infections</h1>
      </div>

      <section class="panel">
        <div class="panel-heading">
          <h3>About</h3>
        </div>
        <div class="panel-body">
          <p>
            There's a lot of information to keep track of these days. So I built this as a way to quickly visualize changes in vital statistics over time and compare between regions.
          </p>
          <p>
            Thanks to the <a href="https://coronadatascraper.com">Corona Data Scraper</a> project, the New York Times' <a href="https://github.com/nytimes/covid-19-data">COVID-19 database</a>, and the <a href="https://www.jhu.edu">JHU</a> <a href="https://systems.jhu.edu">CSSE</a>'s <a href="https://github.com/CSSEGISandData/COVID-19">dashboard</a>. This relies on their data.
          </p>
        </div>
      </section>

      <section class="panel">
        <div class="panel-heading">
          <h3>Options</h3>
        </div>
        <div class="panel-body">
          <p id="stderr" class="error hidden"></p>
          <p>Choose places to compare:</p>
          <div id="place-list">
            <p id="place-input-labels">
              <span class="place-input-label place-input-label-basic">
                Plot this place
              </span>
              <span class="place-input-label place-input-label-extra hidden" id="modifier-label">
                Add/subtract this place
              </span>
              <span class="place-input-label place-input-label-extra hidden" id="modifiers-label">
                Add/subtract these places
              </span>
            </p>
          </div>
          <button id="add-place" class="btn btn-default" type="text">
            Add place
          </button>
          <div id="options">
            <p id="data-types">
              <span>
                What data?
              </span>
              <span class="inline-option-container">
                <input class="option" type="radio" name="dataType" data-action="storeString" value="cases">
                <span class="option-label">Infections</span>
              </span>
              <span class="inline-option-container">
                <input class="option" type="radio" name="dataType" data-action="storeString" value="deaths" checked>
                <span class="option-label">Deaths</span>
              </span>
              <span class="inline-option-container">
                <input class="option" type="radio" name="dataType" data-action="storeString" value="mortality">
                <span class="option-label">Mortality rate</span>
              </span>
            </p>
            <div id="transformations">
              <p>
                <input class="option" type="radio" name="transformations" value="totals">
                <span class="option-label">Cumulative</span>
              </p>
              <p>
                <input class="option" type="radio" name="transformations" value="diffs" checked>
                <span class="option-label">Per day</span>
              </p>
              <p>
                <input class="option" type="radio" name="transformations" value="rates">
                <span class="option-label">Rate of increase (per day)</span>
              </p>
            </div>
            <div id="optional-options">
              <p>
                <input class="option" type="checkbox" value="perCapita" checked>
                <span class="option-label">Per capita</span>
              </p>
              <p>
                <input class="option" type="checkbox" value="log">
                <span class="option-label">Logarithmic</span>
              </p>
            </div>
            <div id="parameters">
              <p>
                <span>Smoothing:</span>
                <input type="number" class="option" data-type="integer" name="smoothing" value="3" min="0">
                <span>day average</span>
              </p>
            </div>
          </div>
          <div id="plot-types">
            <p>Alternative plots:</p>
            <p>
              <span class="inline-option-container">
                <input class="option" type="radio" name="plotType" data-action="storeString" value="plotPlaces" checked>
                <span class="option-label">Region case/deaths</span>
              </span>
              <span class="inline-option-container">
                <input class="option" type="radio" name="plotType" data-action="storeString" value="dcHospitals">
                <span class="option-label">DC hospitalizations</span>
              </span>
            </p>
          </div>
          <button id="plot-btn" class="btn btn-default" type="submit">
            Make Plot
          </button>
        </div>
      </section>

      <section id="plot-container">
        <div>
          <p id="plot-notes" class="hidden"></p>
          <h2 id="plot-title">Loading..</h2>
        </div>
        <div id="plot">
        </div>
      </section>
    </div>

    <a id="json-link" class="hidden" href="{% static 'editpages/js/covid/places.json' %}">JSON data</a>
{% endblock %}

{% block javascript %}
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <script type="module" src="{% static 'editpages/js/covid/main.js' %}?via=html"></script>
{% endblock %}
