
#title, #plot-title {
  text-align: center;
}

.error {
  color: red;
}

#place-list > p {
  margin-bottom: 3px;
}

.place-delete {
  padding: 4px 8px;
  margin-bottom: 2px;
}

.place-alert {
  margin-left: 10px;
}

#add-place, #plot-btn {
  display: block;
}

#add-place {
  margin: 5px 0;
}

.data-type-container {
  margin-left: 8px;
}

#options p {
  margin-bottom: 5px;
}

.option-label {
  margin-left: 5px;
  vertical-align: text-bottom;
}

/* For tablets and larger, use a taller plot, but leave more margins on the sides. */
#plot-container {
  width:  90%;
  height: 700px;
  margin-bottom: 50px;
}

/* For phones, use a shorter plot, but take up more of the horizontal space. */
@media (max-width: 760px) {
  #plot-title {
    font-size: 175%;
  }
  #plot-container {
    width: 100%;
    height: 450px;
  }
}
