
#title, #plot-title {
  text-align: center;
}

.error {
  color: red;
}

#place-list > p {
  margin-bottom: 3px;
}

#place-input-labels {
  margin-left: 40px;
  font-weight: bold;
}

.place-input-label-extra {
  margin-left: 8px;
}

.place-container button {
  margin-bottom: 2px;
}

.place-operand {
  padding-left: 3px;
  padding-right: 3px;
  margin-left: -3px;
  margin-right: 2px;
  width: 13px;
  border: none;
}

.place-operand:hover {
  border: 1px solid #CCC;
  border-radius: 3px;
  padding-left: 2px;
  padding-right: 2px;
}

.place-delete {
  padding: 4px 8px;
  float: left;
}

.place-subcontainer {
  width: calc(100% - 35px);
  float: right;
}

.place-input, .place-input-label {
  display: inline-block;
  margin-right: 5px;
}

.place-input, .place-input-label-basic {
  width: 150px;
}

@media (max-width: 430px) {
  .place-input, .place-input-label-basic {
    width: 131px;
  }
}

@media (max-width: 450px) {
  .place-input-label-extra {
    display: none;
  }
}

.place-alert {
  margin-left: 10px;
}

#add-place, #plot-btn {
  display: block;
}

#add-place {
  margin: 5px 0;
}

.data-type-container {
  margin-left: 8px;
}

#options p {
  margin-bottom: 5px;
}

.option-label {
  margin-left: 5px;
  vertical-align: text-bottom;
}

.number-input {
  width: 30px;
  text-align: center;
}

#plot-notes {
  font-size: 125%;
}

/* For tablets and larger, use a taller plot, but leave more margins on the sides. */
#plot {
  width:  90%;
  height: 700px;
  margin-bottom: 50px;
}

/* For phones, use a shorter plot, but take up more of the horizontal space. */
@media (max-width: 760px) {
  #plot-notes {
    font-size: 100%;
  }
  #plot-title {
    font-size: 175%;
  }
  #plot {
    width: 100%;
    height: 450px;
  }
}
